{%extends "../base.html"%}
{%block title%}homepage{%endblock title%}
{%block table_data%}
 
    <table class="table">
        <a class="float-end nav-link " href="{%url  'dairyapp:create_dairy'%}">Add Dairy</a>
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">User</th>
                <th scope="col">Location</th>
                <th scope="col">Verified</th>
                <th scope="col">List Records</th>
                <th scope="col">Actions</th>

            </tr>
        </thead>
        <tbody>
            {%for dairy in dairies%}
            <tr>
                <th scope="row">{{dairy.id}}</th>
                <td>{{dairy.name}}</td>
                <td>{{dairy.user}}</td>
                <td>{{dairy.location}}</td>
                <td>{{dairy.is_verified}}</td>
                <td><a href="{% url 'dairyapp:milk_record' dairy.name%}">view</a></td>
                <td>
                    <form action="{% url 'dairyapp:update_dairy' dairy.id%}" class="d-inline">
                        <button type="submit" class="btn btn-danger">edit</button>
                    </form>
                    
                </td>
            </tr>
            {%endfor%}

        </tbody>
    </table>
{%endblock%}




